
<div class="container">
    <div class="card">

        <h1>Compose Email</h1>

        
    
    <form  (ngSubmit)="submitForm()" >
        <mat-form-field class="field" appearance="fill">
            <mat-label>TO</mat-label>
            <input  name="to"  [(ngModel)]="data.to"   matInput placeholder="To">
          
          </mat-form-field>

          <mat-form-field class="field" appearance="fill">
              <mat-label>Subject</mat-label>
              <input name="subject"  [(ngModel)]="data.subject" matInput placeholder="subject">
            
            </mat-form-field>

            <mat-form-field class="field" appearance="fill">
              <mat-label>Enter your Message</mat-label>
              <textarea name="body" [(ngModel)]="data.body"  matInput></textarea>
            </mat-form-field>
            <div class="text-center">

              <mat-spinner  *ngIf="flag" style="margin: auto;"></mat-spinner>

              <button type="submit"   mat-raised-button color="primary"  > Submit </button>
              <button  type="reset" mat-raised-button color="accent"  > Clear </button>
            </div>

    </form>

    
    </div>
</div>